	html {box-sizing: border-box;}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
		padding: 0;
		margin: 0;
	}
	body {
		font-family: Helvetica, Arial, Sans-Serif;
		font-size: 1.2em;
		line-height: 1.375em;
		padding: 0;
		margin: 0;
		background-color: #FFF;
		-webkit-font-smoothing: antialiased;
	}
	/* _-_-__ Flexbox Grid Layout Pattern - 3 __-_-_ */
	/* _-_-__ 3 Columns Flexbox Grid Layout __-_-_ */
	/* _-_-__ Flexbox Holy Grail Grid Layout Pattern __-_-_ */
	h1 {
		font-size: 1.25rem;
	}
	.row {
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
	}
	.col {
		flex: 1;
		margin: .6em;
		padding: .6em;
		color: #345;
		background-color: hsla(201, 5%, 95%, 0.8);
	}

	.wrapper {
		display: flex;
		flex-flow: column wrap;
		min-height: 100vh;
	}

	main {
	    flex: 1;
	}

	/* _-_-__ Review Articles __-_-_ */
	.review-articles {
	  display: flex;
	  flex-wrap: wrap;
	  flex-flow: row wrap;
	}
	.review-articles h2 {
		flex-basis: 100%;
	}
	.review-articles article {
	  flex-basis: 45%;
	  box-sizing: border-box;
	  display: flex;
	  flex-flow: row wrap;
	  margin: 0.6em;
	}
	.review-articles header,
	.review-articles p {
		flex-basis: 100%;
	}

	/* _-_-__ News __-_-_ */
	.news {
		display: flex;
		flex-wrap: wrap;
	    flex-flow: row wrap;
	    justify-content: space-between;
	}
	.news article {
		width: calc(97% / 2);
  		box-sizing: border-box;
  		background: hsla(0, 0%, 87%, 1);
	}
	.news article:nth-child(2n) {
	  	margin-right: 0;
	}

	.news h2 {
		flex-basis: 100%;
		background: hsla(0, 0%, 87%, 1);
	}


.flex-2-cols {
  display: flex;
  flex-wrap: wrap;
}
.flex-2-cols > * {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 40px;
  width: calc((100% / 2) - 40px + (40px / 2));
  box-sizing: border-box;
}





	/* _-_-__ Responsive __-_-_ */
	@media screen and (min-width:640px) {
		.row {flex-flow: row wrap;}
		main .col:nth-child(1) {flex: 1 1 100%;}
		main .col:nth-child(3) {flex: 2;}
	}
	@media screen and (min-width:768px){
		main .col:nth-child(1) {flex: 1;}
	}
	@media(max-width:1073px) {
	  	.review-articles article {flex-basis: 42%;}
	}
	