	html {box-sizing: border-box;}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
		padding: 0;
		margin: 0;
	}
	body {
		font-family: "Source Sans Pro", Sans-Serif;
		font-size: 1.2em;
		line-height: 1.375em;
		padding: 0;
		margin: 0;
		background-color: #FFF;
		-webkit-font-smoothing: antialiased;
	}
	/* _-_-__ Flexbox Grid Layout Pattern - 3 __-_-_ */
	/* _-_-__ 3 Columns Flexbox Grid Layout __-_-_ */
	/* _-_-__ Flexbox Holy Grail Grid Layout Pattern __-_-_ */
	h1 {
		font-size: 1.25rem;
	}
	.row {
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
	}
	.col {
		flex: 1;
		margin: .6em;
		padding: .6em;
		color: #345;
		background-color: hsla(201, 5%, 95%, 0.8);
	}
	
	.review-articles {
	  display: flex;
	  flex-wrap: wrap;
	  flex-flow: row wrap;
	  /*display: grid;
      grid-template-columns: repeat(2, 1fr);
	  grid-auto-rows: 1fr;
	  grid-column-gap: 3rem;
	  grid-row-gap: 3rem;
	  grid-column: 1 / span 2;*/
	}
	.review-articles h2 {
		flex-basis: 100%;
	}
	.review-articles article {
	  flex-basis: 45%;
	  box-sizing: border-box;
	  display: flex;
	  flex-flow: row wrap;
	  margin: 0.6em;
	}
	.review-articles header,
	.review-articles p {
		flex-basis: 100%;
	}
	@media screen and (min-width:640px) {
		.row {flex-flow: row wrap;}
		main .col:nth-child(1) {flex: 1 1 100%;}
		main .col:nth-child(3) {flex: 2;}
	}
	@media screen and (min-width:768px){
		main .col:nth-child(1) {flex: 1;}
	}
	.wrapper {
		display: flex;
		flex-flow: column wrap;
		min-height: 100vh;
	}
	main {flex: 1;}